# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# 因為我們希望也備份 3D model 檔
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll 
# 因為我們希望也備份 libfreeglut.dll 及 opencv的 .dll 才能讓程式執行

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# 你在前面加 #號 就可以註解掉
# *.a
# *.lib
# 因為我們希望也備份 freeglut 的 lib 目錄裡的 libfreeglut32.a 等檔案

# Executables
*.exe
*.out
*.app
